.dashboard-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;
  }
  
  .dashboard-content {
    width: 80%;
    max-width: 1200px; /* Set a max width for better readability */
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  